  body,
  html {
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
  }

  body {
    background: url(./images/blur.png) no-repeat center center fixed;
    background-size: cover;
  }

  #vanta {
    z-index: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  video {
    z-index: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  main {
    position: relative;
  }

  main.animated {
    opacity: 0;
    filter: blur(10px);
    transition: opacity 2s ease-in-out, filter 2s ease-in-out;
  }

  header {
    margin-top: 5%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  header>img {
    width: 13em;
    height: 13em;
    border-radius: 100%;
    border: 1px solid #fff;
    box-shadow: rgb(28 32 93 / 24%) 0px 2px 8px 0px;
  }

  header>h1 {
    display: inline-block;
    font-size: 0.8em;
    font-weight: bold;
    border-radius: 1em;
    background-color: #000a;
    color: #fff;
    padding: 0.3em 0.6em;
    border: 1px solid #fffa;
    backdrop-filter: blur(10px) saturate(160%) contrast(180%);
    -webkit-backdrop-filter: blur(10px) saturate(160%) contrast(180%);
  }

  ul {
    box-sizing: border-box;
    list-style: none;
    margin: 0 auto;
    padding: 2em;
    max-width: 480px;
  }

  ul>li {
    background-color: #fffa;
    backdrop-filter: blur(10px) saturate(160%) contrast(180%);
    -webkit-backdrop-filter: blur(10px) saturate(160%) contrast(180%);
    border-radius: 10em;
    margin: 1.4em 0;
    box-shadow: rgb(28 32 93 / 24%) 0px 2px 8px 0px;
    transition: 1s ease-out;
    border: 5px solid transparent;
  }

  ul>li>a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    padding: 1em;
    font-size: 1.2em;

  }



  ul li:hover img {
    animation: bounce 1s infinite alternate;
    -webkit-animation: bounce 1s infinite alternate;
  }


  ul li:hover {
    background-color: hsl(0, 0%, 100%);
    border: 5px solid hsla(0, 100%, 50%, 0.726);
  }

  a {
    color: black;
    text-decoration: none;
  }

  /*p{
    text-align: center;
  }
  */
  input {
    font-size: 1em;
    width: 100px;
    border: 0px;
    background-color: transparent;
  }

  .text input:focus {
    border: 0px;
    background-color: transparent;
  }

  input:focus {
    outline: none;
  }

  button {
    cursor: pointer;
    position: absolute;
    left: 75%;
    padding: 2%;
    border: 1px solid red;
    border-radius: 100px;
    background-color: #ff0000;
    color: white;
    text-transform: uppercase;
    transition: 0.3s;
  }

  button:hover {
    background-color: #800000;
    border: 1px solid #800000;
    transition: 0.3s;
  }


  @keyframes bounce {
    from {
      transform: translateY(0px);
    }

    to {
      transform: translateY(-10px);
    }
  }

  @-webkit-keyframes bounce {
    from {
      transform: translateY(0px);
    }

    to {
      transform: translateY(-10px);
    }
  }
